# Angular cache
.angular/

# Node
node_modules/
dist/

# Python
.venv/
__pycache__/
*.pyc

# Secrets
.env
service-account.json
service-account-key.json
public/service-account-key.json

# macOS
.DS_Store